/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 0
}

#sidebar-wrapper {
    visibility: visible;
    z-index: 1000;
    position: fixed;
    left: 275px;
    width: 0;
    height: 100%;
    margin-left: -275px;
    overflow-y: auto;
    background: rgba(40,40,40,1.0);
    border: 1px solid #240D30;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    visibility: hidden;
    width: 275px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 0;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 273px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    margin: 10px;
    text-decoration: none;
    background: rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    color: #EAEAEA;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:focus {
    text-decoration: none;
    color: #FFFFFF;
    background: rgba(0,0,0,0.4);
    margin-right: 0;
    margin-left: 0;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 5px solid rgba(255,255,255,0.7);
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    margin: 0;
    background: rgba(0,0,0,0.4);
    color: #FFFFFF;
    font-weight: bold;
    border: 0;
    border-bottom: 5px solid rgba(255,255,255,0.3);
}

.sidebar-nav > .sidebar-brand a:hover,
.sidebar-nav > .sidebar-brand a:focus {
    color: #FFFFFF;
    border-radius: 0;
    border-right: 0;
    outline: 0;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 275px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}