#titleBar {
    text-align: center;
    background: #99b3ff;
    width: 100%;
    padding: 5px 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#titleBar a {
    text-decoration: none;
}

#titleBar h1 {
    font-weight: bold;
    color: white;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
}

#loginForm {
    margin: 10% auto;
    padding: 25px;
    width: 400px;
    height: 225px;
    background: rgba(44,44,45,1.0);
    border: 1px solid rgba(64,59,71,1.0);
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5), inset 0 0 10px 2px rgba(16,16,17,0.2), inset 0 0 0 1px rgba(115,111,120,1.0);
    color: white;
    text-shadow: 0 0 2px rgba(255,255,255,0.3);
}

#formLabels {
    float: left;
    text-align: right;
    width: 35%;
}

#formLabels label {
    display: block;
    margin: 15px;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 1px rgba(255,255,255,0.05);
}

#formInputBoxes {
    float: left;
    text-align: left;
    width: 65%;
}

#formInputBoxes input[type="text"],
#formInputBoxes input[type="password"] {
    display: block;
    margin: 15px;
    width: 185px;
    font-size: 13px;
}

#formRemember {
    text-align: left;
    padding: 0 10px 10px 10px;
    font-size: 14px;
}

#formRegister {
    float: left;
    width: 60%;
    padding-top: 5px;
    text-align: center;
    font-size: 10pt;
}

#formSubmit {
    float: right;
    width: 40%;
    text-align: center;
}