html, body {
    min-width: 100%;
    min-height: 100%;
    overflow: auto;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    padding-top: 48px;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    /*background: linear-gradient(rgb(76,79,82),rgb(90,95,102));*/
    background: url('../assets/images/background.png') fixed;
    background-size: cover;
}

.error_msg {
    color: darkred;
    font-weight: bold;
    text-align: center;
    -webkite-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  not supported bx  y any browser */
}

.clearfix {
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.custom-offset {
    margin-left: 2.25%;
}

@media (max-width: 1000px)
{
	#page-content-wrapper {
		padding-left: 2.25%;
		padding-right: 2.25%;
	}
	.col-fixed {
    position: fixed;
    right: 2.25%;
	}
}

@media (min-width: 1000px)
{
	#page-content-wrapper {
		padding-left: 12.5%;
		padding-right: 12.5%;
	}
	
	.col-fixed {
    position: fixed;
    right: 5.25%;
	}
}

.wrapper, .row {
    height: 100%;
    margin-left:0;
    margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.content-bx {
    margin-bottom: 20px;
    padding: 50px 50px 30px 50px;
    background: rgba(245,245,245,0.4);
    border: 1px solid rgba(64,59,71,1.0);
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    text-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.content-bx hr {
    display: block;
    height: 1px;
    border: 0;
    /*border-top: 1px solid #333;*/
    background-color: #666666;
    box-shadow: 0 2px 7px rgba(0,0,0,0.7);
    margin: 1em 0;
    padding: 0;
}

.bx-dark {
    background: rgba(44,44,45,0.85);
    border: 1px solid rgba(64,59,71,0.85);
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    color: white;
    text-shadow: 0 0 2px rgba(255,255,255,0.3);
}

.bx-dark:before {
    background: none;
    border-top: 1px solid rgba(135,131,150,0.85);
    border-right: 1px solid rgba(95,91,100,0.85);
    border-bottom: 1px solid rgba(75,71,80,0.85);
    border-left: 1px solid rgba(115,111,120,0.85);
    border-radius: 2px;
    box-shadow: inset 0 0 10px 2px rgba(16,16,17,0.2);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.bx-dark hr {
    display: block;
    height: 1px;
    border: 0;
    background-color: #CCCCCC;
    box-shadow: 0 2px 5px rgba(0,0,0,1.0);
    margin: 1em 0;
    padding: 0;
}

#welcome_box {
    padding: 30px;
    max-width: 295px;
}

#tournament_create_box {
    padding: 15px 5px 15px 5px;
    max-width: 295px;
}

.text-muted-custom {
    color: #cccccc;
}

.posts {
    padding: 15px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    background: rgba(0,0,0,0.3);
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

.text-input-bracket {
    width: 75%;
    text-align: left;
}

.round_1, .round_2, .round_3, .round_4, .round_5, .round_6, .bracket-winner {
    height: 100%;
    width: 175px;
    padding-right: 20px;
    margin-left: 20px;
    float: left;
}

.round_1, .round_2, .round_3, .round_4, .round_5, .round_6, .bracket-winner {
    border-right: 1px solid rgba(255,255,255,0.1);
}

.group* {
    height: 100px;
}

.round_* > div > div.bx-dark-bracket {
    margin-bottom: 10px;
}

.round_1 > div:nth-child(2).bracket-space {
    height: 95px;
}

.round_1 > div:last-child.bracket-space {
    height: 95px;
}

.round_1 > div.bracket-space {
    height: 50px;
}

.round_2 > div:nth-child(2).bracket-space:first-child {
    height: 100px;
}

.round_2 > div.bracket-space {
    height: 150px;
}

.round_3 > div:nth-child(2).bracket-space:first-child {
    height: 200px;
}
.round_3 > div.bracket-space {
    height: 250px;
}

.round_4 > div.bracket-space {
    height: 350px;
}

#round_4.bracket-winner > div.bracket-space {
    height: 265px;
}

#bracket {
    width: 965px;
}

.bx-dark-bracket {
    background: rgba(44,44,45,0.85);
    padding: 4px 10px 2px;
    border: 0.1rem solid rgba(64,59,71,0.85);
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5), inset 0 0 10px 2px rgba(16,16,17,0.2);
    color: white;
    text-shadow: 0 0 2px rgba(255,255,255,0.3);
    font-size: 0.73rem;
    min-height: 28px;
}

.seed_number {
    margin-left: -5px;
    margin-right: 5px;
    text-align: center;
    float: left;
    padding: 0 5px;
    background: rgba(255,255,255,0.2);
    border-radius: 3px;
}