.current_page {
	background: rgba(255,255,255,0.05);
	box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
}

#top-navbar a.navbar-brand {
	float: none;
	padding-top: .25rem;
	padding-bottom: .25rem;
	margin-right: 1rem;
	font-size: 1.30rem;
	line-height: inherit;
	color: white;
	text-shadow: 0 0 3px rgba(255,255,255,0.5);
}

.navbar-style {
    background: rgba(100, 79, 140, 1.00);
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    text-align: center;
}

.navbar-style:before {
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.12) 0%, rgba(20,20,20,0.03) 88%, rgba(0,0,0,0.2) 90%, rgba(0,0,0,0.3) 100%);*/
    border-bottom: 2px solid rgba(180,180,180,0.2);
    /*box-shadow: inset -1px -1px 0px 1px rgba(0,0,0,0.2), inset 0 0 15px 0 rgba(0,0,0,0.2);*/
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

#menu-toggle {
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    color: #FFFFFF;
    padding: .3rem .6rem;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    left: 0.5%;
    position: absolute;
}

#menu-toggle:hover {
    background: rgba(0,0,0,0.5);
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#menu-toggle:active {
    background: rgba(0,0,0,0.35);
}

#menu-toggle:focus {
    outline: 0;
}

#account_dropdown {
    color: #FFFFFF;
    right: 0.5%;
    position: absolute;
}

#account_dropdown button.btn {
    display: inline-block;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid rgba(0,0,0,0.3);
    padding: .3rem .6rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

#account_dropdown button.btn-secondary {
    color: #FFFFFF;
    background: transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#account_dropdown.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
#profile_button.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#account_dropdown.btn-group > .dropdown-toggle:not(:first-child),
#profile_button.btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#account_dropdown button.btn-secondary:hover {
    background: rgba(0,0,0,0.35);
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#account_dropdown button.btn-secondary:active:focus{
    background: rgba(0,0,0,0.5);
}

#account_dropdown button.btn-secondary:focus {
    background: rgba(0,0,0,0.5);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#profile_form {
    text-align: right;
}

.dropdown-menu {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.btn-sm-dark {
    background: url('../assets/images/button/btn-sm-dark-normal.png');
    background-size: cover  ;
    width: 50px; height: 38px;
    border: none; box-shadow: 0 0 4px rgba(0,0,0,0.5);
    color: white;
    text-shadow: 0 0 3px rgba(255,255,255,0.5);
    transition: background 0.1s;
}

.btn-sm-dark:hover,
.btn-sm-dark:focus {
    background: url('../assets/images/button/btn-sm-dark-hover.png');
    background-size: cover;
    transition: background 0.12s;
    outline: none;
}

.btn-sm-dark:active {
    background: url('../assets/images/button/btn-sm-dark-active.png');
    background-size: cover;
    outline: none;
    transition: background 0s;
}

.btn-md-dark {
    background: url('../assets/images/button/btn-md-dark-normal.png');
    background-size: cover;
    width: 102px;
    height: 38px;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    transition: background 0.1s;
}

.btn-md-dark:hover,
.btn-md-dark:focus {
    background: url('../assets/images/button/btn-md-dark-hover.png');
    background-size: cover;
    transition: background 0.12s;
    outline: none;
}

.btn-md-dark:active {
    background: url('../assets/images/button/btn-md-dark-active.png');
    background-size: cover;
    outline: none;
    transition: background 0s;
}

.btn-lg-dark {
    background: url('../assets/images/button/btn-lg-dark-normal.png');
    background-size: cover;
    width: 202px;
    height: 38px;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    transition: background 0.1s;
}

.btn-lg-dark:hover,
.btn-lg-dark:focus {
    background: url('../assets/images/button/btn-lg-dark-hover.png');
    background-size: cover;
    transition: background 0.12s;
    outline: none;
}

.btn-lg-dark:active {
    background: url('../assets/images/button/btn-lg-dark-active.png');
    background-size: cover;
    outline: none;
    transition: background 0s;
}

.btn-gap {
    margin-left: 5px;
}

.dropdown-item {
    transition: all ease 0.3s;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #2b2d2f;
    text-decoration: none;
    background-color: rgba(0,0,0,0.15);
    outline: 0;
    transition: all ease 0.3s;
}