#register_form {
    padding: 40px 0 0 0;
}

#register_form h2 {
    display: block;
    margin: 15px auto;
    width: 85%;
}

#register_form label {
    display: inline-block;
    margin: 15px 0;
    font-weight: bold;
}

#register_form input[type="text"] {
    width: 95%;
}

#register_form input[type="email"] {
    width: 97.5%;
}

#register_form input[type="password"] {
    width: 95%;
}

#form_sections {
    margin-bottom: 0;
    padding: 25px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    background: rgba(0,0,0,0.25);
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

#formUserInfo, #formName {
    margin: 0 auto;
    width: 90%;
    height: 60px;
    text-align: left;
}

#formUsername input[type="text"] {
    width: 100%;
}

#formEmail input[type="email"] {
    width: 96%;
}

#formFirstName,
#formLastName,
#password_section,
#confirm_password_section {
    width: 50%;
    float: left;
}

#formUsername {
    width: 35%;
    float: left;
}

#formEmail {
    margin-left: 2.5%;
    width: 62.5%;
    float: left;
}

#formButtons {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    text-align: center;
}